body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: #fffefc;
}

.label {
    width: 200px;
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--gray-3);
}

.d-none {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #6d6a6a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.check::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
}

.dropdown {
    position: absolute;
    z-index: 1000;
    top: 125px;
    background: black;
    width: fit-content;
    white-space: nowrap;
    right: 0;
    border-radius: 2px;
}

.li_private {
    padding: 5px;
}

.li_private:hover {
    cursor: pointer;
    background: #555;
}

.modale-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: absolute;
}

.modale {
    z-index: 1000;
    top: 125px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}