.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.pl-10 {
    padding: 10px;
}


.rounded {
    border-radius: 5px;
}



.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}


.mt-10 {
    margin-top: 20px;
}
.mt-20 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: red;
}

.m-0 {
    margin: 0px;
}




.text-white {
    color: #FFF;
}


.d-none {
    display: none;
}