.chatBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 96vh;
    max-width: calc(100% - 300px);
    &.dNone {
        display: none;
    }
    &>.chatboxHeader {
        background-color: #000;
        color: #FFF;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &>.chatboxBody {
        background-color: #FFF;
        padding: 20px;
        flex: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
    }

    &>.chatboxFooter {
        padding: 20px;
        background-color: #FFF;
    }

    textarea {
        padding: 10px;
        width: 100%;
        border: none;
        background-color: var(--gray-2);
        font-size: 20px;
        height: 46px;
        resize: none;
    }
}