.messageBox {
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-width: 90%;

    &.sendByUser {
        align-self: end;
        align-items: end;
        & .message {
            text-align: end;
            background-color: black;
            color: white;
        }
    }
    &.sendByOther {
        align-self: start;
        align-items: start;
        & .message {
            background-color: var(--gray-2);
            color: black;
        }
    }
    & .message {
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
        white-space: pre-line;
        overflow-wrap: break-word;
        max-width: 100%;
        &>p {
            margin: 5px;
        }
        &>.messageName {
            color: #8fd3f4;
            font-weight: bold;
        }
    }
    & .messageInfo {
        font-size: 12px;
        margin: 5px 0;
    }
}